.container {
  margin: 0 auto;
}

@keyframes intro-page-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}


.intro-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #121a27 0%, #24406e 100%, #121a27 0%);
  background-size: 200%;
  background-repeat: repeat;
  min-height: clamp(30vh, 40vh, 90vh);
  animation: intro-page-animation 20s linear infinite;
}

.profile-pic {
  width: clamp(150px, 40vw, 450px);
  height: clamp(150px, 40vw, 450px);
  border-radius: 100%;
  object-fit: cover;
  margin: 5% 0 5% 0;
  border: 2px solid #355cb8;
}

.introduction {
  margin-top: 3% 0 5% 0;
  font-size: clamp(1rem, 6vw, 4rem);
  text-align: center;
}

.sub-introduction {
  margin: 3% 0 5% 0;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  text-align: center;
  max-width: 70%;
}

.project-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #192430;
}

.project-intro {
  margin-top: 5%;
  font-size: clamp(1rem, 5vw, 4rem);
}

.project-container {
  width: 70%;
  padding: 5% 0 0 0;
}

.project-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  padding: 2%;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, #2a405e 0%, #36598a 100%);
  border: 2px solid #2f4461;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px #415b80;
  border-color: #507ab5;
  cursor: pointer;
}

.project-card img {
  height: 40%;
  max-width: 40%;
  aspect-ratio: 3 / 3;
  object-fit: cover;
  object-position: left center;
  border-radius: 0.75rem;
}

.project-info {
  padding: 0px 0px 0px 5%;
}

.project-info h3 {
  margin: 0 0 3% 0;
  font-size: clamp(0.8rem, 2vw, 3rem);
  color: #e0e7ff;
  line-height: 1.3;
}

.project-info p {
  margin: 0 5% 2% 0;
  line-height: 1.6;
  color: #c4d0e8;
  font-size: clamp(0.65rem, 1.5vw, 1.5rem);
}

.skills-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #121a26;
  min-height: 50vh;
}

.skills-intro {
  font-size: 50px;
  margin-top: 5%;
}

.skills-container {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 70%;
}

.skills-item {
  margin: 1%;
  padding: 25px;
  border-radius: 40px;
  color: #000000;
  background-color: #63b1ba;
}

.skills-item:hover {
  transform: scale(1.3) rotate(-4deg);
}
