@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial Black;
  line-height: 1;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121a27;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer components {
  .btn {
    @apply rounded-[24px] border-2 border-[#87a6ed] px-5 py-2.5 text-base font-thin font-sans text-[#87a6ed] bg-[#121a27] cursor-pointer transition-colors duration-100;
  }
  .btn:hover {
    @apply bg-[#394b74];
  }
}

.app button {
  border-radius: 24px;
  border: 2px solid;
  border-color: #87a6ed;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 100;
  font-family: Verdana;
  color: #87a6ed;
  cursor: pointer;
  transition: border-color 0.1s;
}

.app button:hover {
  background-color: #394b74;
}

@import "tailwindcss";
